/README.md filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/Makefile filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/README filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cat.9495.jpg.rgba.planar filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cat.png filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cnn.cpp filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cnn.h filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cnnSolver.cpp filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/dog.9499.jpg.rgba.planar filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/dog.png filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/images.txz filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model.cpp filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model.h filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_0.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_1.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_2.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_3.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_4.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_5.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_0.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_1.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_2.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_3.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_4.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_5.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_6.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/outputCats.txt filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/outputDogs.txt filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/runAll.sh filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/HLS/conv2DTestbench.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/HLS/conv2d.h filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_ONLY_SW/Makefile filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_ONLY_SW/conv2DTestbench.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_ONLY_SW/util.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_ONLY_SW/util.hpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/CAccelDriver.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/CAccelDriver.hpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/CConv2DDriver.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/CConv2DDriver.hpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/Makefile filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/conv2DTestbench.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/util.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/util.hpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/build_Vivado_project.sh filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/cleanup.sh filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/extractBitstream.sh filter=lfs diff=lfs merge=lfs -text
