/README.md filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/Makefile filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/README filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cat.9495.jpg.rgba.planar filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cat.png filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cnn.cpp filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cnn.h filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cnnSolver.cpp filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/dog.9499.jpg.rgba.planar filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/dog.png filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/images.txz filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model.cpp filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model.h filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_0.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_1.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_2.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_3.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_4.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/bias_5.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_0.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_1.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_2.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_3.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_4.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_5.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/model/weights_6.bin filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/outputCats.txt filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/outputDogs.txt filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/runAll.sh filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/HLS/conv2DTestbench.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/HLS/conv2d.h filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_ONLY_SW/Makefile filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_ONLY_SW/conv2DTestbench.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_ONLY_SW/util.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_ONLY_SW/util.hpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/CAccelDriver.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/CAccelDriver.hpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/CConv2DDriver.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/CConv2DDriver.hpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/Makefile filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/conv2DTestbench.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/util.cpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/SW_TEST_CONV2D_SW_AND_HW/util.hpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/build_Vivado_project.sh filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/cleanup.sh filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/extractBitstream.sh filter=lfs diff=lfs merge=lfs -text
/CNN_Dogs_Cats_SW_version/cnnSolver filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/HLS/conv2d.cpp filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_ONLY_SW/Makefile filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_ONLY_SW/conv2DTestbench filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_ONLY_SW/conv2DTestbench.cpp filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_ONLY_SW/util.cpp filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_ONLY_SW/util.hpp filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_SW_AND_HW/CAccelDriver.cpp filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_SW_AND_HW/CAccelDriver.hpp filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_SW_AND_HW/CConv2DDriver.cpp filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_SW_AND_HW/CConv2DDriver.hpp filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_SW_AND_HW/Makefile filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_SW_AND_HW/conv2DTestbench.cpp filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_SW_AND_HW/util.cpp filter=lfs diff=lfs merge=lfs -text
/SW_TEST_CONV2D_SW_AND_HW/util.hpp filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS.tcl filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/.apc/autopilot.apfmapping filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/.cproject filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/.project filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/.settings/Conv2D_HW_HLS.Debug.launch filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/.settings/Conv2D_HW_HLS.Release.launch filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/.settings/language.settings.xml filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/.vitis_hls_log_all.xml filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/hls.app filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/.autopilot/db/.message_csim.xml filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/.autopilot/db/autopilot.flow.log filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/.autopilot/xcd.log filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/csim/build/Makefile.rules filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/csim/build/csim.mk filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/csim/build/obj/conv2DTestbench.o filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/csim/build/obj/conv2d.o filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/csim/build/run_sim.tcl filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/csim/build/sim.sh filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/csim/report/Conv2D_HW_csim.log filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/directives.tcl filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/script.tcl filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/solution1.aps filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/solution1.directive filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/solution1.log filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Vivado.tcl filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/vitis_hls.log filter=lfs diff=lfs merge=lfs -text
/Conv2D_HW_InitVersion_Students/Conv2D_HW_HLS/solution1/csim/build/csim.exe filter=lfs diff=lfs merge=lfs -text
